extends ../layout

block content
    .container
        form.form-signin(role='form', method='post', action='/login', id='login_form')
            h2.form-signin-heading= locale.signInHeading
            input.form-control(name='email', data-access='email', type='email', placeholder=locale.email, required=true, autofocus=true)
            input.form-control(name='password', data-access='password', type='password', placeholder=locale.password, required=true, autocomplete='off')
            label.checkbox
                input(name='remember', data-access='remember', type='checkbox', value='remember')
                != locale.rememberMe
            button.btn.btn-lg.btn-primary.btn-block(type='submit')= locale.signIn
            p.help-block!= locale.loginHelp
    script(src='/javascripts/' + page + '.js')
